<h1>Transactions</h1>
<form id="query" data-bind="submit: queryData">
    <label for="from">From:</label><input name="from" type="text" />
    <label for="to">To:</label><input name="to" type="text" />
    <label for="by">By:</label>
    <select name="by" data-bind="options: people, optionsValue: 'id', optionsText: 'name', optionsCaption: '--All--'">
    </select>
    <label for="on">On:</label>
    <select name="on" data-bind="options: accounts, optionsValue: 'id', optionsText: 'name', optionsCaption: '--All--'">
    </select>
   <input type="submit" value="Go" />
</form>
<table>
    <thead>
        <tr>
	    <th>Date</th>
	    <th>Concept</th>
	    <th>Amount</th>
	    <th>Person</th>
	    <th>Account</th>
	    <th>splitId</th>
	</tr>
    </thead>
    <tbody data-bind="foreach: transactions">
        <tr>
	    <td data-bind="text: formattedDate"></td>
	    <td data-bind="text: concept"></td>
	    <td data-bind="text: formattedAmount"></td>
	    <td data-bind="text: personName"></td>
	    <td data-bind="text: accountName"></td>
	    <td data-bind="text: isSplit"></td>
	</tr>
    </tbody>
</table>
